.menu__item {
	color: #0059B3; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
	font: 14px inter;
  margin: 0;
}

.menu__item:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #2b2b3f; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.menu__item:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #f71735; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}


